<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOKES APP</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <a href="/fav"><button>fav</button></a>
    <a href="/random-jokes"><button>Random</button></a>
    <div class="flex-container">
        <div>
            <p><%= jokeObj.type%></p>
            <p><%= jokeObj.setup%></p>
            <p><%= jokeObj.punchline%></p>
        </div>


    </div>
</body>

</html>